/* Tag	Significado	Quando usar
<header>	Cabeçalho	topo da página ou seção
<nav>	Navegação	menus, links principais
<main>	Conteúdo principal	parte mais importante da página
<section>	Seção	blocos de conteúdo
<article>	Artigo	conteúdo independente (post de blog)
<aside>	Lateral	barras laterais, informações extras
<footer>	Rodapé	parte final da página */
/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}

/* ================= HEADER ================= */
header {
  background-color: #02A28F;
  color: white;
  padding: 1rem 2rem;
}

header h1 {
  max-width: 75rem;
  margin: 0 auto;
  font-size: 1.5rem;
}

/* ================= CONTAINER PRINCIPAL ================= */
.conteiner {
  max-width: 75rem;
  margin: 2rem auto;
  padding: 0 2rem;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

/* POST DESTAQUE */
#img-opniao img {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

/* ================= SIDEBAR ================= */
#aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#aside img {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.15);
}

/* ================= POSTS MAIS RECENTES ================= */
article {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 2rem 3rem;
}

/* GRID DE CARDS */
#cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

/* CARD */
.cards {
  background-color: white;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.15);
}

.cards img {
  width: 100%;
  height: auto;
  display: block;
}

/* ================= FOOTER ================= */
footer {
  background-color: #02A28F;
  color: white;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 48rem) {

  header h1 {
    text-align: center;
  }

  /* Container principal vira coluna */
  .conteiner {
    grid-template-columns: 1fr;
    margin: 1rem auto;
    padding: 0 1rem;
  }

  /* Cards em 1 coluna */
  #cards-grid {
    grid-template-columns: 1fr;
  }

  article {
    padding: 0 1rem 2rem;
  }
}
